/* Adjust the styling for the swiper container */
.swiper-container {
  flex: 1;
  height: 100%;
  max-width: 800px;
  position: relative;
  overflow: visible;
  z-index: 1;
  margin-bottom: 50px; /* Add margin to make space for the arrows */
}

/* Make the slides responsive */
.swiper-slide {
  min-width: 150px;
  height: 100%;
  position: relative;
}

@media (max-width: 500px) {
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }

  .swiper-slide img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
}

/* Style the slide images */
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid 5px #8a8686;
  border-radius: 0;
}

/* Add a hover effect to the slides */
.swiper-slide:hover img {
  transform: scale(1.03);
}

/* Hide slide shadows */
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

/* Style the slider controller */
.slider-controler {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin-top: 15px;
}

/* Style the next and previous arrow buttons */
.slider-controler .swiper-button-next,
.slider-controler .swiper-button-prev {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #ffffff; /* Arrow color */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust background color */
}

.slider-controler .swiper-button-next {
  right: 15rem; /* Adjust as needed */
}

.slider-controler .swiper-button-prev {
  left: 15rem; /* Adjust as needed */
}

/* Style the title */
#slider-title {
  font-size: 30px;
  color: #fff; /* Adjust color as needed */
}

/* Style the arrow icon */
.slider-controler .slider-arrow::after {
  content: '';
}

.slider-controler .slider-arrow {
  font-size: 3rem;
  color: #222224;
}

.slider-controler .slider-arrow i {
  border: solid #ffffff;
  border-radius: 50%;
  background-color: rgb(0, 132, 255);
}

/* Add 3D perspective effect */
.swiper-3d {
  perspective: 750px;
}
