      
.app-container {
        display: flex;
        justify-content: space-evenly;
        height: 100vh;
        flex-direction: row;
        align-items: flex-start;
    }

.content-container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px; /* Adjust as needed */
        width: 100%;
      }
      

      .swiper-3d {
        perspective: 750px;
      }