body, html {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent vertical scrollbar */
  font-family: 'Myriad Pro', sans-serif;
}

body {
  background-image: url('./assets/images/web_background_original1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}

